
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto:wght@400;500&display=swap');
/* type */

* {
    padding: 0;
    margin: 0;
}

@media screen {
    body {
        background-color: #FBFDFF;
        font-size: 10px;
        font-family: 'roboto', 'Kosugi Maru';
        font-size: initial;
    }
}

a {
    text-decoration: none;
    color: #331B1A;   
}

p {
    color: #331B1A;
}

h2 {
    color: #331B1A;   
}

/* top */
header {
    height: 80px;
    width: 100%;
    padding: 15px;
    margin: 100 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #331B1A;
    overflow: hidden;
    position: fixed;
    /* front */
    z-index: 1000;
    /* animation */
    animation-name:header;
    animation-duration:5s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
    @keyframes header {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 3;
      }
    }


.TOP {
    line-height: 100px;
    float: left;
    margin-left: 10px;
}

.nav-list {
    line-height: 80x;
    float: right;
    margin-right: 30px;
}

.nav-item {
    list-style: none;
    display: inline-block;
    margin: 20px 30px;
    margin-right:auto;
}


/* top */
 .top-wrapper {
    background-image: url(../image/shop\ curtain.png);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
/* animation */
    animation-name:top-wrapper;
    animation-duration:3s;
    animation-fill-mode:forwards;
    opacity:0;
}
    
    @keyframes top-wrapper {
      from {
        opacity: 0;
      }
    
      to {
        opacity: 3;
      }
    }


.top-content {
    color: #FBFDFF;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.top-title {
    font-size: 54px;
    font-weight: 600;
}

.top-subtitle {
    font-size: 38px;
    font-weight: 300;
}


/* vision */
.section-content-vision {
    margin-top: 300px;
    display: flex;
    width: 100vh;
    height: 100vh;
}

.vision-text-title {
    font-size: 450%;
    width: auto;
}

.vision-text-wrapper img{
    width: 75%;
    margin-top: -5%;
} 

.vision-text-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 140%;
    width: 40%;
    height: 50%;
    margin-left: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision-text {
    font-size: xxx-large;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.vision-img-wrapper {
    position: absolute;
    right: 0%;
    top: 140%;
    width: 45%;
    height: 100vh;
    margin-right: 0;
}

.vision-img-wrapper img {
    width: 80%;
}




/* works */

#work-intro-section {
    background-image: url(../image/waves.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
} 


.work {
    width: 28%;
    height: 900px; /**/
    position: relative;
    text-align: center;
}

.work .section-content-img {
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    top: 10%;
    z-index: 500;
}

.work .section-content-dsc {
    background-color: #FBFDFF;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 40%;
    width: 95%;
    top: 40%;
    border-radius: 30%;
    z-index: 400;
} 

.work .section-content-dsc h3 {
  font-size: 400%;
  font-family: 'roboto', 'Kosugi Maru';
  margin: 20% 0 20px 0;
}

.work .section-content-dsc p {
    font-size: large;
  }

.work .section-content-dsc button {
    background-color:#331B1A;
    margin: 10% 0 10% 0;
    border-radius: 40px;
    max-height: 100px;
    min-height: 60px;
    min-width: 200px;
}

.work .section-content-dsc a {
    color:#FBFDFF;
    font-size: xx-large;
    margin: 40px 10% 40px 10%;
}

/* .section-content-buttton {
    color: #FBFDFF;
    position: absolute;
    font-weight: bold;
    font-size: xxx-large;
    background: #331B1A;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'roboto', 'Kosugi Maru';
    border: 1px solid #ccc;
    display: inline-block;
    text-decoration: none; 
    outline: none; */
    /*animation*/
    /* transition: all .3s;
    z-index: 500;
}

.section-content-buttton:hover {
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
    border-color: transparent;
  }

.section-content-img{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    position: absolute;
    margin80px 0;
    z-index: 400;
}

.section-content-yaotan {
    display: flex;
    position: absolute;
    align-items: center;
}
 */
