
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Roboto:wght@400;500&display=swap');
/* type */

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #FBFDFF;
    font-size: 10px;
    font-family: 'roboto', 'Kosugi Maru';
    font-size: initial;
}

a {
    text-decoration: none;
    color: #331B1A;   
}

p {
    color: #331B1A;
}

h2 {
    color: #331B1A;   
}

/* top */
header {
    height: 80px;
    width: 100%;
    padding: 15px;
    margin: 100 auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #331B1A;
    overflow: hidden;
    position: fixed;
}

.TOP {
    line-height: 100px;
    float: left;
    margin-left: 10px;
}

.nav-list {
    line-height: 80x;
    float: right;
    margin-right: 30px;
}

.nav-item {
    list-style: none;
    display: inline-block;
    margin: 20px 30px;
    margin-right:auto;
}


/* top */
 .top-wrapper {
    background-image: url(../image/shop\ curtain.png);
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    flex: none;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
}


.top-content {
    color: #FBFDFF;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}

.top-title {
    font-size: 54px;
    font-weight: 600;
}

.top-subtitle {
    font-size: 38px;
    font-weight: 300;
}


/* vision */
.section-content-vision {
    margin-top: 300px;
    display: flex;
    width: 100vh;
    height: 100vh;
}

.vision-text-title {
    font-size: 450%;
    width: auto;
}

.vision-text-wrapper img{
    width: 75%;
    margin-top: -5%;
} 

.vision-text-wrapper {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 140%;
    width: 40%;
    height: 50%;
    margin-left: 10%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vision-text {
    font-size: xxx-large;
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.vision-img-wrapper {
    position: absolute;
    right: 0%;
    top: 140%;
    width: 45%;
    height: 100vh;
    margin-right: 0;
}

.vision-img-wrapper img {
    width: 80%;
}




/* works */

.section-content-works {
    background-image: url(../image/waves.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} 

.section-content-buttton {
    color: #FBFDFF;
    position: absolute;
    font-weight: bold;
    font-size: xxx-large;
    background: #331B1A;
    padding: 5px 10px;
    border-radius: 20px;
    font-family: 'roboto', 'Kosugi Maru';
}


.section-content-yaotan img{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 5%;
    transform: translateY(-10%);
}